<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <header class="container mt-5">
        <h1 class="mb-4">Welcome to the Pizzeria Platform</h1>
    </header>

    <div class="container-fluid d-flex align-items-center flex-column">

        <div class="row justify-content-around">

            <div class="card" style="width: 18rem;">
            <img src="/images/stuzzichi collage.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">APPETIZERS</h5>
                    <p class="card-text">Fancy a croquette? Or some fries? Here you go!</p>
                    <a href="/src/main/resources/templates/pizzas/index.html" class="btn btn-primary">GO</a>
                </div>
            </div>

            <div class="card col-2.col" style="width: 18rem;">
                <img src="/images/pizza collage.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">PIZZA</h5>
                    <p class="card-text">Choose your pizza or create a new one just for ya!</p>
                    <a href="/src/main/resources/templates/pizzas/index.html" class="btn btn-primary">GO</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
            <img src="/images/drink collage.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DRINKS</h5>
                    <p class="card-text">Quench your thirst with something tasty!</p>
                    <a href="/src/main/resources/templates/pizzas/index.html" class="btn btn-primary">GO</a>
                </div>
            </div>

        </div>
   

    

    </div>


    
</body>
</html>